*{
    margin: 0px;
    font-family: "Inter", sans-serif;
}

#menusuperior{
    background-image: url(images/fundo-menusuperior.svg);
    color: aliceblue;
}

#logo{
    width: 100px;
    margin-top: 50px;
    margin-left: 50px;
}

#titulo-menusuperior{
    margin-left: 125px;
    margin-top: 50px;
    font-weight: 600;
    line-height: 128%;
    font-size: 40px;
}

#texto-menusuperior{
    margin-left: 125px;
    margin-top: 35px;
    padding-bottom: 50px;
    font-weight: 400;
    line-height: 150%;
    font-size: 20px;
}

#menuinformacional{
    background-color: #EAECE5;
    padding: 50px 50px 50px 125px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    padding-right: 25px
}

.textoinformativo{
    display: flex;
    align-items: center;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center;
    margin: 50px 100px 50px 125px;
}

#titulovideo{
    color: #247BA0;
    margin-left: 40px;
}

#textovideo{
    margin: 60px 20px 20px 40px;
}

#video{
    margin-right: 25px;
}

#carrossel{
    background-color: #247BA0;
    padding: 25px;
}

#titulo-carrossel{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

#div-cards{
    display: grid;
    grid-auto-flow: column;
}

.cards{
    margin-left: 15px;
    margin-right: 15px;
}

.seta{
    margin-top: 55%;
    cursor: pointer;
}

.ocultar{
    display: none;
}

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

#formulario{
    text-align: center;
    margin: 25px 75px 50px 125px;
}

#titulo-formulario{
    font-size: 25px;
    line-height: 150%;
    color: #383838;
}

input{
    width: 300px;
    height: 30px;
    background-color: #EAECE5;
    margin: 15px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    margin-top: 10px;
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color: #3c96bc;
    color: white;
    transform: translateY(-5px);
    transition-duration: 0.5s;
    box-shadow: 0px 15px 20px  #1b455870;
}